In [1]:
import pandas as pd
import matplotlib as mat
import seaborn as sns
import numpy as np

Loading in the test and train dataset

In [2]:
test_data = pd.read_csv("C:\\Users\\Ajay Kallepalli\\Documents\\GitHub\\Kaggle Data\\test.csv")
test_data.head()

   id  breath_id  R   C  time_step       u_in  u_out
0   1          0  5  20   0.000000   0.000000      0
1   2          0  5  20   0.031904   7.515046      0
2   3          0  5  20   0.063827  14.651675      0
3   4          0  5  20   0.095751  21.230610      0
4   5          0  5  20   0.127644  26.320956      0

In [7]:
train_data = pd.read_csv("C:\\Users\\Ajay Kallepalli\\Documents\\GitHub\\Kaggle Data\\train.csv")
train_data.head()

   id  breath_id   R   C  time_step       u_in  u_out   pressure
0   1          1  20  50   0.000000   0.083334      0   5.837492
1   2          1  20  50   0.033652  18.383041      0   5.907794
2   3          1  20  50   0.067514  22.509278      0   7.876254
3   4          1  20  50   0.101542  22.808822      0  11.742872
4   5          1  20  50   0.135756  25.355850      0  12.234987

Checking for NA's and duplicates

In [10]:
test_data.isna().sum()

id           0
breath_id    0
R            0
C            0
time_step    0
u_in         0
u_out        0
dtype: int64

In [11]:
train_data.isna().sum()

id           0
breath_id    0
R            0
C            0
time_step    0
u_in         0
u_out        0
pressure     0
dtype: int64

In [13]:
train_data.duplicated().sum()

0

In [14]:
train_data.dtypes

id             int64
breath_id      int64
R              int64
C              int64
time_step    float64
u_in         float64
u_out          int64
pressure     float64
dtype: object

In [19]:
train_data.shape

(6036000, 8)

In [20]:
test_data.shape

(4024000, 7)

In [22]:
len(train_data.breath_id.unique())

75450